<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/task
         http://www.springframework.org/schema/task/spring-task-4.1.xsd"
		 >

    <!-- 扫描带有@Controller注解的类 -->
    <context:component-scan base-package="com.museum.wechat"></context:component-scan>
    <context:property-placeholder location="classpath:resource/wechatOauth.properties"/>

    <task:scheduler id="scheduler" pool-size="10" />

    <task:annotation-driven executor="scheduler" proxy-target-class="true"/>

    <!--配置注解驱动-->
    <mvc:annotation-driven/>
    <!--配置资源映射-->
    <mvc:default-servlet-handler/>
    <!--试图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>

     <!--文件上传 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置上传文件的最大尺寸为5MB -->
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize">
            <value>5242880</value>
        </property>
    </bean>

</beans>