<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.museum.mapper.ExhibitsInfoMapper" >
  <resultMap id="BaseResultMap" type="com.museum.pojo.ExhibitsInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="img_name" property="imgName" jdbcType="VARCHAR" />
    <result column="audio_name" property="audioName" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="operator_id" property="operatorId" jdbcType="INTEGER" />
    <result column="query_times" property="queryTimes" jdbcType="INTEGER" />
    <result column="qr_code" property="qrCode" jdbcType="VARCHAR" />
    <result column="scan_result" property="scanResult" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, info, img_name, audio_name, add_time, operator_id, query_times, qr_code, 
    scan_result, remark, type_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.museum.pojo.ExhibitsInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from exhibits_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from exhibits_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from exhibits_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.museum.pojo.ExhibitsInfoExample" >
    delete from exhibits_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.museum.pojo.ExhibitsInfo" >
    insert into exhibits_info (id, name, info, 
      img_name, audio_name, add_time, 
      operator_id, query_times, qr_code, 
      scan_result, remark, type_id
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, 
      #{imgName,jdbcType=VARCHAR}, #{audioName,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, 
      #{operatorId,jdbcType=INTEGER}, #{queryTimes,jdbcType=INTEGER}, #{qrCode,jdbcType=VARCHAR}, 
      #{scanResult,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.museum.pojo.ExhibitsInfo" >
    <selectKey order="AFTER" resultType="java.lang.Integer" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into exhibits_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="imgName != null" >
        img_name,
      </if>
      <if test="audioName != null" >
        audio_name,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="operatorId != null" >
        operator_id,
      </if>
      <if test="queryTimes != null" >
        query_times,
      </if>
      <if test="qrCode != null" >
        qr_code,
      </if>
      <if test="scanResult != null" >
        scan_result,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="imgName != null" >
        #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="audioName != null" >
        #{audioName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="queryTimes != null" >
        #{queryTimes,jdbcType=INTEGER},
      </if>
      <if test="qrCode != null" >
        #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="scanResult != null" >
        #{scanResult,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.museum.pojo.ExhibitsInfoExample" resultType="java.lang.Integer" >
    select count(*) from exhibits_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update exhibits_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.info != null" >
        info = #{record.info,jdbcType=VARCHAR},
      </if>
      <if test="record.imgName != null" >
        img_name = #{record.imgName,jdbcType=VARCHAR},
      </if>
      <if test="record.audioName != null" >
        audio_name = #{record.audioName,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operatorId != null" >
        operator_id = #{record.operatorId,jdbcType=INTEGER},
      </if>
      <if test="record.queryTimes != null" >
        query_times = #{record.queryTimes,jdbcType=INTEGER},
      </if>
      <if test="record.qrCode != null" >
        qr_code = #{record.qrCode,jdbcType=VARCHAR},
      </if>
      <if test="record.scanResult != null" >
        scan_result = #{record.scanResult,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.typeId != null" >
        type_id = #{record.typeId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update exhibits_info
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      info = #{record.info,jdbcType=VARCHAR},
      img_name = #{record.imgName,jdbcType=VARCHAR},
      audio_name = #{record.audioName,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      operator_id = #{record.operatorId,jdbcType=INTEGER},
      query_times = #{record.queryTimes,jdbcType=INTEGER},
      qr_code = #{record.qrCode,jdbcType=VARCHAR},
      scan_result = #{record.scanResult,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      type_id = #{record.typeId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.museum.pojo.ExhibitsInfo" >
    update exhibits_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="imgName != null" >
        img_name = #{imgName,jdbcType=VARCHAR},
      </if>
      <if test="audioName != null" >
        audio_name = #{audioName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        operator_id = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="queryTimes != null" >
        query_times = #{queryTimes,jdbcType=INTEGER},
      </if>
      <if test="qrCode != null" >
        qr_code = #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="scanResult != null" >
        scan_result = #{scanResult,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.museum.pojo.ExhibitsInfo" >
    update exhibits_info
    set name = #{name,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      img_name = #{imgName,jdbcType=VARCHAR},
      audio_name = #{audioName,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      operator_id = #{operatorId,jdbcType=INTEGER},
      query_times = #{queryTimes,jdbcType=INTEGER},
      qr_code = #{qrCode,jdbcType=VARCHAR},
      scan_result = #{scanResult,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>