<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.museum.mapper.ServiceCentreMapper" >
  <resultMap id="BaseResultMap" type="com.museum.pojo.ServiceCentre" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="adult_price" property="adultPrice" jdbcType="DOUBLE" />
    <result column="discount_price" property="discountPrice" jdbcType="DOUBLE" />
    <result column="traffic" property="traffic" jdbcType="VARCHAR" />
    <result column="opening_hours" property="openingHours" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, adult_price, discount_price, traffic, opening_hours, telephone, email, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.museum.pojo.ServiceCentreExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from service_centre
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from service_centre
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from service_centre
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.museum.pojo.ServiceCentreExample" >
    delete from service_centre
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.museum.pojo.ServiceCentre" >
    insert into service_centre (id, adult_price, discount_price, 
      traffic, opening_hours, telephone, 
      email, update_time)
    values (#{id,jdbcType=INTEGER}, #{adultPrice,jdbcType=DOUBLE}, #{discountPrice,jdbcType=DOUBLE}, 
      #{traffic,jdbcType=VARCHAR}, #{openingHours,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.museum.pojo.ServiceCentre" >
    insert into service_centre
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="adultPrice != null" >
        adult_price,
      </if>
      <if test="discountPrice != null" >
        discount_price,
      </if>
      <if test="traffic != null" >
        traffic,
      </if>
      <if test="openingHours != null" >
        opening_hours,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="adultPrice != null" >
        #{adultPrice,jdbcType=DOUBLE},
      </if>
      <if test="discountPrice != null" >
        #{discountPrice,jdbcType=DOUBLE},
      </if>
      <if test="traffic != null" >
        #{traffic,jdbcType=VARCHAR},
      </if>
      <if test="openingHours != null" >
        #{openingHours,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.museum.pojo.ServiceCentreExample" resultType="java.lang.Integer" >
    select count(*) from service_centre
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update service_centre
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.adultPrice != null" >
        adult_price = #{record.adultPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.discountPrice != null" >
        discount_price = #{record.discountPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.traffic != null" >
        traffic = #{record.traffic,jdbcType=VARCHAR},
      </if>
      <if test="record.openingHours != null" >
        opening_hours = #{record.openingHours,jdbcType=VARCHAR},
      </if>
      <if test="record.telephone != null" >
        telephone = #{record.telephone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update service_centre
    set id = #{record.id,jdbcType=INTEGER},
      adult_price = #{record.adultPrice,jdbcType=DOUBLE},
      discount_price = #{record.discountPrice,jdbcType=DOUBLE},
      traffic = #{record.traffic,jdbcType=VARCHAR},
      opening_hours = #{record.openingHours,jdbcType=VARCHAR},
      telephone = #{record.telephone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.museum.pojo.ServiceCentre" >
    update service_centre
    <set >
      <if test="adultPrice != null" >
        adult_price = #{adultPrice,jdbcType=DOUBLE},
      </if>
      <if test="discountPrice != null" >
        discount_price = #{discountPrice,jdbcType=DOUBLE},
      </if>
      <if test="traffic != null" >
        traffic = #{traffic,jdbcType=VARCHAR},
      </if>
      <if test="openingHours != null" >
        opening_hours = #{openingHours,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.museum.pojo.ServiceCentre" >
    update service_centre
    set adult_price = #{adultPrice,jdbcType=DOUBLE},
      discount_price = #{discountPrice,jdbcType=DOUBLE},
      traffic = #{traffic,jdbcType=VARCHAR},
      opening_hours = #{openingHours,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>